<a href="https://colab.research.google.com/github/Jii111/FOR-ESAA/blob/master/0924_getting_and_knowing_occupation_Exercises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = pd.read_csv("user.txt",sep='|')

users_reset.index = users.index + 1

### Step 4. See the first 25 entries

In [ ]:
users_reset.head(25)

KeyError: "['index'] not found in axis"

### Step 5. See the last 10 entries

In [ ]:
users_reset.tail(10)

     user_id  age gender     occupation zip_code
934      934   61      M       engineer    22902
935      935   42      M         doctor    66221
936      936   24      M          other    32789
937      937   48      M       educator    98072
938      938   38      F     technician    55038
939      939   26      F        student    33319
940      940   32      M  administrator    02215
941      941   20      M        student    97229
942      942   48      F      librarian    78209
943      943   22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [ ]:
print(users_reset.shape)

(943, 5)

### Step 7. What is the number of columns in the dataset?

In [ ]:
print('column 수 :',users_reset.shape[1])

column 수 : 5

### Step 8. Print the name of all the columns.

In [ ]:
users_reset.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [ ]:
users_reset.index

RangeIndex(start=1, stop=944, step=1)

### Step 10. What is the data type of each column?

In [ ]:
users_reset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 1 to 943
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB

### Step 11. Print only the occupation column

In [ ]:
users_reset['occupation'].head(10)

1        technician
2             other
3            writer
4        technician
5             other
6         executive
7     administrator
8     administrator
9           student
10           lawyer
Name: occupation, dtype: object

### Step 12. How many different occupations are in this dataset?

In [ ]:
users_reset.groupby('occupation')['occupation'].count()

occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: occupation, dtype: int64

### Step 13. What is the most frequent occupation?

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?