In [49]:
import pandas as pd

titanic_df=pd.read_csv('C:/Users/judy0/Downloads/titanic_train.csv')
print('titanic 변수 type:', type(titanic_df))
titanic_df

print('Dataframe 크기:',titanic_df.shape)
titanic_df.info()
titanic_df.describe()

titanic_df['Pclass'].value_counts()

import numpy as np
col_name1=['col1']
list1=[1,2,3]
array1=np.array(list1)
print('array1 shape:',array1.shape)
df_list1=pd.DataFrame(list1,columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n',df_list1)
df_array1=pd.DataFrame(array1,columns=col_name1)
print(df_array1)

col_name2=['col1','col2']
list2=[[1,2],
      [3,4]]
array2=np.array(list2)
df_list2=pd.DataFrame(list2,columns=col_name2)
df_list2

dict={'col1':[1,11],'col2':[2,22]}
df_dict=pd.DataFrame(dict)
df_dict

dict2=df_dict.to_dict()
dict2
dict3=df_dict.to_dict('list')
dict3

#titanic_df.ix[1,2]
titanic_df.iloc[1,2]
#titanic_df.iloc['Survived',2]

titanic_boolean=titanic_df[titanic_df['Age']>60]
titanic_boolean

titanic_df.sort_values(by=['Name'])

titanic_df[['Age','Fare']].mean()

titanic_df.groupby('Pclass').count()
titanic_df.groupby('Pclass')[['PassengerId','Survived']].count()

titanic_df.isna().sum()

lamdba_square=lambda x : x**2
print('3의 제곱은:',lamdba_square(3))

a=[1,2,3]
squares=map(lambda x : x**2,a)
list(squares)

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>
Dataframe 크기: (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
   col1
0     1
1     2
2     3
3의 제곱은: 9

[1, 4, 9]